.documents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #eefaff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.documents__header {
  flex-basis: 100%;
  margin-bottom: 20px;
}
.documents__text {
  flex-basis: 100%;
  margin-bottom: 20px;
}
.documents__inner {
  border-radius: 6px;
  border: solid 2px #006eae;
  background: #ffffff;
  padding: 10px;
  min-height: 220px;
  box-sizing: border-box;
}
.documents__list-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
}
.documents__subheader {
  font-size: 20px;
  font-family: 'Proxima Nova Cn Bl', sans-serif;
  color: #006eae;
  text-transform: uppercase;
  text-align: center;
}
.documents__list {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.documents__exemples {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content repeat(3, 42px);
  gap: 10px;
  flex-basis: 65%;
}
.documents__exemples-header {
  grid-column: 1 / 4;
}
.documents__exemples-link {
  border: 1px solid #ffcb00;
  color: #006eae;
  font-weight: bold;
  font-size: 15px;
  min-width: 200px;
  line-height: 40px;
  text-transform: none;
  text-decoration: none;
  text-align: left;
}
.documents__exemples-link::before {
  content: "PDF";
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  line-height: 20px;
  width: 50px;
  height: 20px;
  border-radius: 6px;
  background-color: #ff7900;
  display: inline-block;
  margin: 0 10px;
}
.documents__annotation {
  flex-basis: 100%;
  padding-top: 20px;
}
@media screen and (max-width:1300px) {
  .documents__exemples {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content repeat(4, 42px);
    gap: 10px;
    flex-basis: 65%;
  }
  .documents__exemples-header {
    grid-column: 1 / 3;
  }
}
@media screen and (max-width:986px) {
  .documents__list {
    padding-left: 20px;
  }
}
@media screen and (max-width:860px) {
  .documents__list-wrapper {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
  .documents__list {
    padding-left: 40px;
  }
  .documents__exemples {
    flex-basis: 100%;
  }
}
@media screen and (max-width:575px) {
  .documents__exemples {
    grid-template-columns: 1fr;
    grid-template-rows: min-content repeat(8, 42px);
  }
  .documents__exemples-header {
    grid-column: 1 / 2;
  }
}
@media screen and (max-width:460px) {
  .documents__list {
    padding-left: 20px;
  }
}