.examples-of-projects-tmp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.examples-of-projects-tmp__header{
  flex-basis: 100%;
  margin-bottom: 20px;
}
.examples-of-projects-tmp__item {
  display: flex;
  flex-direction: column;
  width: 18%;
}
.examples-of-projects-tmp__slider {
  box-shadow: 0 6px 15px -3px rgb(136 136 136);
  margin-bottom: 15px;
}
.examples-of-projects-tmp__nav-button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #006eae;
  background-image: url('examples-of-projects-tmp_arrow.png');
  background-repeat: no-repeat;
  background-position: 45% center;
  display: block;
  position: absolute;
  left: 20px;
  top: 40%;
  border-width: 0;
  cursor: pointer;
}
.examples-of-projects-tmp__nav-button_next {
  transform: rotate(180deg);
  right: 20px;
  left: auto;
}
.examples-of-projects-tmp__slider-description {
  font-size: 14px;
  color: #0088be;
  font-weight: bold;
}
@media screen and (max-width:1300px) {
  .examples-of-projects-tmp {
    justify-content: space-around;
    margin-bottom: 10px!important;
  }
  .examples-of-projects-tmp__item {
    width: 30%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width:860px) {
  .examples-of-projects-tmp {
    justify-content: space-between;
  }
  .examples-of-projects-tmp__item {
    width: 48%;
  }
}
@media screen and (max-width:460px) {
  .examples-of-projects-tmp__item {
    width: 100%;
  }
}