@import '../../sass/variables';

.service-page {

  &__header {
    display: flex;
    align-items: center;
    min-height: 120px;
    padding-left: 50px;

    @media screen and (max-width: $screen-xl) {
      padding-left: 20px;
    }

    @media screen and (max-width: $screen-lg) {
      padding-left: 10px;
    }

    @media screen and (max-width: $screen-xs) {
      padding-left: 5px;
    }
  }
}