.service-page__header {
  display: flex;
  min-height: 120px;
  align-items: center;
  padding-left: 50px;
}
.service-page__main-slider {
  margin-top: 5px;
}
@media screen and (max-width:1300px) {
  .service-page__header {
    padding-left: 20px;
  }
}
@media screen and (max-width:986px) {
  .service-page__header {
    padding-left: 10px;
  }
}
@media screen and (max-width:460px) {
  .service-page__header {
    padding-left: 5px;
  }
}
