@import '../../sass/variables';

.logo {
  width: 174px;
  height: 84px;
  background-image: url('shop__logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media screen and (max-width: $screen-xl) {
    width: 160px;
    height: 77px;
  }
  
  @media screen and (max-width: $screen-lg) {
    width: 149px;
    height: 72px;
    margin-bottom: 14px;
  }
  
  @media screen and (max-width: $screen-md) {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: $screen-xs) {
    width: 132px;
    height: 64px;
    margin-bottom: 0;
  }
}