@font-face {
  font-family: 'Proxima Nova Cn Bl';
  src: url('fonts/ProximaNovaCond-Black.eot');
  src: local('Proxima Nova Condensed Black'), local('ProximaNovaCond-Black'), url('fonts/ProximaNovaCond-Black.eot?#iefix') format('embedded-opentype'), url('fonts/ProximaNovaCond-Black.woff') format('woff'), url('fonts/ProximaNovaCond-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova ExCn Lt';
  src: url('fonts/ProximaNovaExCn-Light.eot');
  src: local('Proxima Nova Extra Condensed Light'), local('ProximaNovaExCn-Light'), url('fonts/ProximaNovaExCn-Light.eot?#iefix') format('embedded-opentype'), url('fonts/ProximaNovaExCn-Light.woff') format('woff'), url('fonts/ProximaNovaExCn-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Roboto-300-cyr.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Roboto-300-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Roboto-400-cyr.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Roboto-400-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  box-sizing: border-box;
  outline: none !important;
}
/* button */
.button {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  border-radius: 6px;
  color: #ffffff;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: 0;
  padding: 0;
}
.button:hover {
  cursor: pointer;
  transition: opacity 1.2s, visibility 0s linear 1.2s;
  opacity: 0.7;
}
.button__link {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: #656565;
  font-weight: normal;
}
/* card */
/* link */
.link__phone {
  text-decoration: none;
}
/* list */
.list {
  margin: 0;
  padding-left: 23px;
}
.list__item {
  font-size: 15px;
  line-height: 30px;
  list-style-image: url(/assets/templates/TSM-COMPANY_NEW/img/circle.svg);
}
/* header */
/* menu */
/* page */
/* service-page */
.service-page__header {
  display: flex;
  min-height: 120px;
  align-items: center;
  padding-left: 50px;
}
.service-page__main-slider {
  margin-top: 5px;
}
/* montage-page */
.montage-page__header {
  margin-bottom: 20px;
}
/* page-header */
/* logo */
/* company-name */
/* office-phone */
/* service-phone */
/* main-menu */
/* mobile-main-menu-button */
/* calc-button */
/* mobile-service-menu-button */
/* service-menu */
/* shop-menu-in-header */
.shop-menu-in-header {
  position: relative;
  cursor: pointer;
}
.shop-menu-in-header__list {
  position: absolute;
  display: none;
  z-index: 2000;
  padding: 0;
  left: 0;
  list-style: none;
  width: 100%;
  background-color: #ffffff;
}
.shop-menu-in-header__list_visible {
  display: block;
}
.shop-menu-in-header__list-item {
  margin-top: 1px;
  background-color: #3b90c2;
  height: 40px;
  padding-left: 10px;
}
.shop-menu-in-header__list-item:hover {
  background-color: #006eab;
}
.shop-menu-in-header__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
}
/* shop-menu */
.shop-menu {
  display: flex;
  flex-direction: column;
}
.shop-menu__category {
  text-transform: uppercase;
  font-weight: normal;
}
.shop-menu_active {
  font-weight: bold;
}
.shop-menu__list {
  list-style: none;
  padding: 0;
  margin: 5px 0 10px 5px;
  text-transform: none;
  font-weight: normal;
}
.shop-menu__list-item {
}
.shop-menu__link {
  text-decoration: none;
  color: #000000;
}
/* breadcrumbs */
.breadcrumbs {
  display: flex;
  /* gap: 10px; */
}
.breadcrumbs__item {
  font-size: 12px;
  line-height: 19px;
  margin-right: 10px;
}
.breadcrumbs__item::before {
  margin-right: 10px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 4px;
  background-repeat: no-repeat;
  background-image: url(https://www.tsm-company.ru/assets/templates/TSM-COMPANY_NEW/img/breadcrumbs.png);
}
.breadcrumbs__item_home-page::before {
  display: none;
}
/* main-slider */
/* brends */
.brends-header {
  margin-bottom: 20px;
}
.brends__slider {
  margin: 0 40px;
}
/* brends-slider */
.brends-slider {
  height: 120px;
}
.brends-slider__slide {
  box-shadow: 0 2px 14px 1px rgba(221, 221, 221, 1);
}
.brends-slider__slide-overlay {
  position: relative;
  height: 100%;
}
.brends-slider__slide-link {
  position: absolute;
  width: 100%;
  height: 100%;
}
.brends-slider__left-arrow {
  top: 33px!important;
  transform: scale(0.8);
  left: -48px!important;
}
.brends-slider__right-arrow {
  top: 33px!important;
  transform: scale(0.8);
  right: -48px!important;
}
.brends-slider__right-arrow:hover, .brends-slider__left-arrow:hover {
  transform: scale(0.9)!important;
}
/* services */
/* order-of-work */
/* portfolio */
/* location */
/* callback */
/* systems */
.systems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40px;
  grid-auto-rows: 310px;
  gap: 10px;
}
.systems__header {
  grid-column: 1 / -1;
  grid-row: span 1;
}
.systems__card {
  align-items: flex-end;
  background-size: 100% 80%;
  box-shadow: 0 6px 15px -3px rgba(136, 136, 136, 1);
}
.systems__card_heating {
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/catalog1.png);
}
.systems__card_boiler {
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/catalog2.png);
}
.systems__card_water-supply {
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/catalog3.png);
}
.systems__card_sewerage {
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/catalog4.png);
}
.systems__card_ventilation {
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/catalog5.png);
}
.systems__card_conditioning {
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/catalog6.png);
}
.systems__card_electrosupply {
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/catalog7.png);
}
.systems__card_low-current {
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/catalog8.png);
}
.systems__card_chimney {
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/catalog9.png);
}
.systems__card_water-preparation {
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/catalog10.png);
}
.systems__card-overlay {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 20%;
  font-weight: bold;
  border-radius: 0 0 6px 6px;
}
.systems__card-title {
  text-align: center;
  color: #006faf;
  font-size: 20px;
  font-weight: bold;
}
.systems__card-title::after {
  content: "";
  width: 120%;
  height: 1px;
  background-color: #ffc018;
  display: block;
  left: -10%;
  position: relative;
}
/* shop-categories */
.shop-categories__card {
  flex-wrap: wrap;
  justify-content: center;
}
.shop-categories__card-bg {
  max-width: 90%;
}
.shop-categories__card-title {
  text-decoration: none;
}
/* shop-category */
.shop-category {
  display: grid;
  grid-template-columns: 1fr 325px;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "header aside"
  "products aside";
  gap: 50px;
}
.shop-category__products-header {
  grid-area: header;
}
.shop-category__products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 310px;
  gap: 50px;
  grid-area: products;
}
.shop-category__card {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 1fr;
  box-shadow: 0 6px 15px -3px rgb(136 136 136);
}
.shop-category__card-header {
  font-size: 20px;
  color: #007db6;
  text-decoration: none;
  grid-column: 1 / -1;
  align-self: end;
}
.shop-category__card-product-img {
  grid-row: 2 / 4;
}
.shop-category__card-img {
  width: 100%;
}
.shop-category__card-properties {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.shop-category__property {
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.shop-category__property-name {
  font-weight: bold;
}
.shop-category__card-button {
  font-size: 13px;
  min-height: 36px;
  max-width: 200px;
  width: 100%;
  background-color: #006eae;
  align-self: center;
}
.shop-category__aside {
  grid-area: aside;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 177px) min-content;
  row-gap: 20px;
}
.shop-category__servise-card {
  height: 100%;
}
.shop-category__servise-card-header {
  font-size: 19px;
  line-height: 22px;
  text-align: right;
}
.shop-category__servise-card-header:after {
  content: "";
  width: 126%;
  height: 1px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  bottom: -22px;
  right: 0;
}
.shop-category__servise-card_montage-bg {
  background-image: url(../img/montal_row2.png);
  background-color: #c7fc98;
}
.shop-category__servise-card_maintenance-bg {
  background-image: url(../img/montal_row3.png);
  background-color: #e3e56a;
}
.shop-category__servise-card_departure-bg {
  background-image: url(../img/servise-card_departure-bg.png);
  background-color: #e3e56a;
}
.shop-category__brends {
  background-color: #ffdb3b;
  border-radius: 6px;
  display: grid;
  grid-template-rows: 55px;
  grid-auto-rows: 80px;
  justify-items: center;
  padding: 20px;
  gap: 20px;
  grid-column: 1 / -1;
}
.shop-category__brends-header {
  font-size: 25px;
  height: 100%;
  justify-self: left;
  grid-column: 1 / -1;
}
.shop-category__brends-header::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  left: 0;
  bottom: 10px;
}
.shop-category__brends-item {
  width: 100%;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 6px 15px -3px rgb(136 136 136);
}
/* shop-product */
.shop-product {
  display:grid;
  grid-template-columns: 1fr 325px 1fr 325px;
  grid-template-rows: 80px repeat(3, min-content);
  grid-template-areas: "header header header cards"
  "menu gallery properties cards"
  "menu gallery order cards"
  "info info info info";
  column-gap: 40px;
  row-gap: 20px;
}
.shop-product__header {
  grid-area: header;
  align-self: center;
}
.shop-product__gallery {
  grid-area: gallery;
}
.shop-product__properties {
  grid-area: properties;
  max-width: 325px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.shop-product__property {
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.shop-product__property-name {
  font-weight: bold;
}
.shop-product__price {
  margin: auto 0;
  font-size: 36px;
  font-weight: bold;
}
.shop-product__order {
  grid-area: order;
  display: flex;
}
.shop-product__order-count-input {
     -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
  height: 36px;
  width: 72px;
  text-align: center;
  border: 1px solid #006eae;
  margin-right: 6px;
}
.shop-product__order-count-input::-webkit-outer-spin-button,
.shop-product__order-count-input::-webkit-inner-spin-button {
  display: none;
}
.shop-product__order-button {
  font-size: 13px;
  height: 36px;
  flex: 0 0 162px;
  background-color: #006eae;
}
.shop-product__order-quantity-button {
  font-size: 16px;
  height: 36px;
  flex: 0 0 36px;
  background-color: #006eae;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}
.shop-product__cards {
  grid-area: cards;
  display: grid;
  grid-auto-rows: 177px;
  gap: 20px;
}
.shop-product__info {
  grid-area: info;
  display: grid;
  grid-auto-rows: 40px 200px;
  position: relative;
}
.shop-product__info-buttons {
  display: flex;
  align-items: stretch;
  position: relative;
  bottom: -1px;
}
.shop-product__info-button {
  flex-basis: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #006eae;
  border-radius: 6px 6px 0 0;
  margin-right: 10px;
}
.shop-product__info-button_active {
  border-width: 1px 1px 0 1px;
  border-color: #006eae;
  border-style: solid;
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
}
.shop-product__info-button_active:hover {
  opacity: 1;
}
.shop-product__info-bookmark {
  display: none;
  border-width: 1px 1px 1px 1px;
  border-color: #006eae;
  border-style: solid;
}
.shop-product__info-bookmark_active {
  display: block;
}
/* content */
.content__header {
  margin-bottom: 1rem;
}
.content__header_first-element {
  margin-top: 20px;
}
.content__subheader {
  font-size: 20px;
  margin-bottom: 0.6rem;
}
.content__paragraph {
  font-size: 16px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 1.2rem;
}
.content__list {
  margin: 0 0 1rem 0;
}
.content__list-item {
  margin-bottom: 10px;
}
.content__link {
  color: #0093c3;
}
.content__illustration {
  margin-top: 6px;
}
.content__illustration_left {
  float: left;
  margin-right: 10px;
}
.content__illustration_right {
  margin-left: 10px;
  float: right;
}
/* prices-section */
.prices-section {
  background-color: #eefaff;
  padding-bottom: 20px;
  padding-top: 20px;
}
/* price */
.price {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, min-content);
  background-color: #ffffff;
}
.price__table {
  text-align: center;
  font-size: 14px;
  border-collapse: collapse;
}
.price__column-header {
  height: 38px;
  background-color: #ffd200;
  border: 1px solid #000000;
}
.price__column-header:nth-child(2n+1) {
  background-color: #ffcb00;
}
.price__cell {
  height: 36px;
  border: 1px solid #000000;
}
.price__cell_type-of-work {
  text-align: left;
  padding-left: 10px;
}
.price__link {
  font-size: 14px;
  color: #0088be;
  font-weight: bold;
  text-decoration: none;
}
/* maintenance-header */
.maintenance-header {
  display: flex;
  min-height: 400px;
  margin: 0 0 50px 0;
  position: relative;
  background-color: #cae7f5;
}
.maintenance-header::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  background-image: url(https://www.tsm-company.ru/assets/templates/TSM-COMPANY_NEW/img/serv.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: contain;
}
.maintenance-header__info {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.maintenance-header__header {
  margin: 35px 0;
  color: #006eab;
  font-size: 40px;
  font-weight: 400;
}
.maintenance-header__text {
  min-height: 177px;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 20px;
}
.maintenance-header__gsm-promo {
  padding-left: 45px;
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/inform.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.maintenance-header__gsm-promo-link {
  color: #0093c3;
}
.maintenance-header__callback-button {
  line-height: 45px;
  border-radius: 6px;
  background: linear-gradient(#da0235, #a60027);
  text-decoration: none;
  max-width: 280px;
  position: relative;
  bottom: -20px;
}
.maintenance-header__basic-price {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 40px;
  z-index: 2;
}
.maintenance-header__basic-price-link {
  font-size: 20px;
  font-family: 'Proxima Nova Cn Bl', sans-serif;
  color: #006eae;
  text-decoration: none;
  border-radius: 6px;
  border: solid 2px #006eae;
  background: rgba(249, 249, 249, 0.85);
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}
/* contracts */
.contracts {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}
.contracts__header {
  flex-basis: 100%;
  margin: 0 0 20px 50px;
}
.contracts__cards {
  display: flex;
  position: relative;
  margin-right: -10px;
  background-color: #77c4ee;
  padding: 30px 50px;
}
.contracts__cards::before {
  content: "";
  width: 824px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(https://www.tsm-company.ru/assets/templates/TSM-COMPANY.RU/img/variant.png);
  background-size: cover;
}
.contracts__card {
  flex: 0 1 350px;
  margin-right: 10px;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-bottom: 20px;
}
.contracts__card-header {
  width: 100%;
  border-radius: 6px 6px 0 0;
  line-height: 50px;
  color: #ffffff;
  background-color: #67a8dc;
  text-align: center;
  margin-bottom: 10px;
}
.contracts__card-header_bg-blue {
  background-color: #67a8dc;
}
.contracts__card-header_bg-red {
  background-color: #d44f5e;
}
.contracts__card-header_bg-yellow {
  background-color: #ebb946;
}
.contracts__card-price {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.conditions__card-price-item {
  flex-basis: 100%;
  background-color: #eaf0f4;
  border-radius: 6px;
  line-height: 40px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  padding: 0 10px;
}
.conditions__card-price-item_last-item {
  margin-bottom: 20px;
}
.conditions__cost {
  font-size: 20px;
  color: #006eab;
  float: right;
}
.contracts__card-conditions {
  flex-grow: 1;
  margin: 0;
  padding: 0 14px 0 10px;
  list-style: none;
}
.contracts__card-conditions-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 40px;
}
.contracts__card-conditions-item::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 10px;
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/gal.png);
  background-position: center center;
  background-repeat: no-repeat;
  left: 12px;
  top: 3px;
}
.contracts__card-conditions-item_annotation {
  font-weight: 600;
}
.contracts__card-conditions-item_annotation::before {
  display: none;
}
.contacts__callback-button {
  width: 215px;
  line-height: 45px;
  font-weight: 600;
  border-width: 0;
}
.contacts__callback-button_bg-blue {
  background-color: #67a8dc;
}
.contacts__callback-button_bg-red {
  background-color: #d44f5e;
}
.contacts__callback-button_bg-yellow {
  background-color: #ebb946;
}
/* documents */
.documents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #eefaff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.documents__header {
  flex-basis: 100%;
  margin-bottom: 20px;
}
.documents__text {
  flex-basis: 100%;
  margin-bottom: 20px;
}
.documents__inner {
  border-radius: 6px;
  border: solid 2px #006eae;
  background: #ffffff;
  padding: 10px;
  min-height: 220px;
}
.documents__list-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
}
.documents__subheader {
  font-size: 20px;
  font-family: 'Proxima Nova Cn Bl', sans-serif;
  color: #006eae;
  text-transform: uppercase;
  text-align: center;
}
.documents__list {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.documents__exemples {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content repeat(3, 42px);
  gap: 10px;
  flex-basis: 65%;
}
.documents__exemples-header {
  grid-column: 1 / 4;
}
.documents__exemples-link {
  border: 1px solid #ffcb00;
  color: #006eae;
  font-weight: bold;
  font-size: 15px;
  min-width: 200px;
  line-height: 40px;
  text-transform: none;
  text-decoration: none;
  text-align: left;
}
.documents__exemples-link::before {
  content: "PDF";
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  line-height: 20px;
  width: 50px;
  height: 20px;
  border-radius: 6px;
  background-color: #ff7900;
  display: inline-block;
  margin: 0 10px;
}
.documents__annotation {
  flex-basis: 100%;
  padding-top: 20px;
}
/* zones */
.zones {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "map prices" "cities cities";
}
.zones__map {
  grid-area: map;
  display: flex;
  flex-direction: column;
}
.zones__header {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 5px;
}
.zones__map-explanation {
  font-size: 15px;
  margin-bottom: 17px;
}
.zones__live-map {
  height: 100%;
}
.zones__prices {
  grid-area: prices;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  min-width: 492px;
}
.zones__prices-header {
  margin-bottom: 40px;
}
.zones__prices-table {
  font-weight: 600;
}
.zones__prices-table_first-table {
  margin-bottom: 20px;
}
.zones__prices-amount {
  min-width: 60px;
}
.zones__cities {
  grid-area: cities;
  padding-top: 20px;
}
.zones__cities-list {
  line-height: 30px;
}
/* service-procedure */
.service-procedure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service-procedure__header {
  flex-basis: 100%;
}
.service-procedure__card {
  flex: 0 0 204px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
  background-position: center 40%;
  background-repeat: no-repeat;
  height: 130px;
}
.service-procedure__card_data-bg {
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/work7.png);
}
.service-procedure__card_offer-bg {
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/work8.png);
}
.service-procedure__card_conclusion-bg {
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/work2.png);
}
.service-procedure__card_design-bg {
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/work6.png);
}
.service-procedure__card_montage-bg {
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/work3.png);
}
.service-procedure__card_transfer-bg {
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/work5.png);
}
.service-procedure__card_last-card {
  margin-right: 0;
}
.service-procedure__card::after {
  content: "";
  display: block;
  height: 31px;
  width: 31px;
  position: absolute;
  right: -28%;
  top: 38%;
  border: 1px solid #dbe3e3;
  background-image: url(/assets/templates/TSM-COMPANY_NEW/img/work_after.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}
.service-procedure__card_last-card::after {
  display: none;
}
.service-procedure__card-text {
  text-align: center;
  color: #0088be;
  font-weight: bold;
}
/* callback-modal */
/* service-page-price */
.service-page-price {
  display: flex;
  flex-direction: column;
  background-color: #eefaff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.service-page-price__header {
  margin-bottom: 20px;
}
.service-page-price__table {
  margin-bottom: 20px;
  background-color: #ffffff;
}
.service-page-price__button {
  background-color: #006eae;
  max-width: 270px;
  border: none;
  text-decoration: none;
  line-height: 45px;
}
/* examples-of-objects */
.examples-of-objects {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 315px;
  gap: 10px;
}
.examples-of-objects__header {
  grid-column: 1 / -1;
  align-self: center;
}
.exemple-of-object__project-sheet-card {
  border: 1px solid #00000050;
  border-radius: 0;
}
.exemple-of-object__project-sheet-card-description {
  background: rgb(0 0 0 / 50%);
  color: white;
}
/* example-of-complex */
.example-of-complex {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffd7;
  padding-top: 20px;
  padding-bottom: 40px;
}
.example-of-complex__header {
  flex-basis: 100%;
  margin-bottom: 20px;
}
.example-of-complex__object {
  flex-basis: 50%;
  display: flex;
  height: 333px;
}
.example-of-complex__card {
  flex: 0 0 333px;
}
.example-of-complex__description {
  flex: 0 1 333px;
  padding-left: 20px;
}
.example-of-complex__description-header {
  margin-bottom: 10px;
}
/* example-of-works-tmp */
.example-of-works-tmp__header {
  margin-bottom: 20px;
}
.example-of-works-tmp__slider {
  position: relative;
  margin: 10px 0;
}
.example-of-works-tmp__nav-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #006eae;
  background-image: url(https://www.tsm-company.ru/assets/templates/TSM-COMPANY_NEW/img/slider2_naw.png);
  background-repeat: no-repeat;
  background-position: 48% center;
  display: block;
  position: absolute;
  left: 10px;
  top: 40%;
  border-width: 0;
  cursor: pointer;
  transition: transform 0.5s;
}
.example-of-works-tmp__nav-button:hover {
  transform: scale(1.1);
}
.example-of-works-tmp__nav-button_next {
  transform: rotate(180deg);
  right: 10px;
  left: auto;
}
.example-of-works-tmp__nav-button_next:hover {
  transform: scale(1.1) rotate(180deg);
}
/* examples-of-projects-tmp */
.examples-of-projects-tmp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.examples-of-projects-tmp__header{
  flex-basis: 100%;
  margin-bottom: 20px;
}
.examples-of-projects-tmp__item {
  display: flex;
  flex-direction: column;
  width: 18%;
}
.examples-of-projects-tmp__slider {
  box-shadow: 0 6px 15px -3px rgb(136 136 136);
  margin-bottom: 15px;
}
.examples-of-projects-tmp__nav-button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #006eae;
  background-image: url(https://www.tsm-company.ru/assets/templates/TSM-COMPANY_NEW/img/slider2_naw.png);
  background-repeat: no-repeat;
  background-position: 45% center;
  display: block;
  position: absolute;
  left: 20px;
  top: 40%;
  border-width: 0;
  cursor: pointer;
}
.examples-of-projects-tmp__nav-button_next {
  transform: rotate(180deg);
  right: 20px;
  left: auto;
}
.examples-of-projects-tmp__slider-description {
  font-size: 14px;
  color: #0088be;
  font-weight: bold;
}
/* examples-of-montage-tmp */
.examples-of-montage-tmp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}
.examples-of-montage-tmp__header{
  flex-basis: 100%;
  margin-bottom: 20px;
}
.examples-of-montage-tmp__item {
  display: flex;
  flex-direction: column;
  width: 22%;
  margin-bottom: 30px;
}
.examples-of-montage-tmp__slider {
  box-shadow: 0 6px 15px -3px rgb(136 136 136);
  margin-bottom: 15px;
}
.examples-of-montage-tmp__nav-button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #006eae;
  background-image: url(https://www.tsm-company.ru/assets/templates/TSM-COMPANY_NEW/img/slider2_naw.png);
  background-repeat: no-repeat;
  background-position: 45% center;
  display: block;
  position: absolute;
  right: 23%;
  bottom: -15px;
  border-width: 0;
  cursor: pointer;
}
.examples-of-montage-tmp__nav-button_next {
  transform: rotate(180deg);
  right: 6%;
  left: auto;
}
.examples-of-montage-tmp__slider-description {
  font-size: 16px;
  color: #0088be;
  font-weight: bold;
}
/* unfolding-block */
.unfolding-block {
  display: flex;
  flex-direction: column;
}
.unfolding-block__button {
  color: #000000;
  font-weight: 600;
  border: 2px solid #ffcb00;
  line-height: 50px;
  margin-bottom: 5px;
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.unfolding-block__button::after {
  content: "СЂР°Р·РІРµСЂРЅСѓС‚СЊ +";
}
.unfolding-block__button_fold::after {
  content: "СЃРІРµСЂРЅСѓС‚СЊ -";
}
.unfolding__content {
  display: none;
  margin-bottom: 20px;
}
.unfolding__content_show {
  display: block;
}
/* footer */
@media screen and (max-width:1300px) {
  .service-page__header {
    padding-left: 20px;
  }
  .shop-menu-in-header::after {
    position: absolute;
    content: "+";
    top: 17px;
    right: 20px;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
  }
  .shop-menu-in-header_open::after {
    content: "-";
  }
  .shop-menu-in-header {
    grid-row: 2 / 3;
  }
  .shop-category {
    grid-template-columns: 1fr;
    grid-template-rows: min-content repeat(3, min-content);
    grid-template-areas: "header"
    "products"
    "aside";
  }
  .shop-category__aside {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 177px min-content;
    column-gap: 20px;
  }
  .shop-category__servise-card {
    height: 100%;
    background-size: auto;
  }
  .shop-category__brends {
    grid-template-columns: repeat(3, 1fr);
  }
  .examples-of-objects {
    grid-template-columns: repeat(3, 1fr);
  }
  .systems {
    grid-auto-rows: 270px;
  }
  .maintenance-header {
    margin-bottom: 30px;
  }
  .maintenance-header::after {
    opacity: .2;
    background-size: cover;
  }
  .contracts__header {
    margin-left: 20px;
  }
  .contracts__cards {
    padding-left: 20px;
    padding-right: 20px;
  }
  .documents__exemples {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content repeat(4, 42px);
    gap: 10px;
    flex-basis: 65%;
  }
  .documents__exemples-header {
    grid-column: 1 / 3;
  }
  .examples-of-projects-tmp {
    justify-content: space-around;
    margin-bottom: 10px!important;
  }
  .examples-of-projects-tmp__item {
    width: 30%;
    margin-bottom: 30px;
  }
  .examples-of-montage-tmp {
    justify-content: space-around;
  }
  .examples-of-montage-tmp__item {
    width: 31%;
  }
  .zones__map-explanation {
    font-size: 14px;
  }
  .zones__prices {
    padding-left: 5px;
  }
  .zones__prices-header {
    margin-bottom: 39px;
  }
  .service-procedure {
    justify-content: space-around;
  }
  .service-procedure__card {
    flex-basis: 160px;
    margin-right: 0;
  }
  .service-procedure__card::after {
    right: 10px;
    top: 30px;
    color: #ffffff;
    background-image: none;
    text-align: center;
    display: block;
    padding-top: 5px;
    box-sizing: border-box;
    border: none;
    background-color: #ffca00;
  }
  .service-procedure__card_data-bg::after {
    content: "1";
  }
  .service-procedure__card_offer-bg::after {
    content: "2";
  }
  .service-procedure__card_conclusion-bg::after {
    content: "3";
  }
  .service-procedure__card_design-bg::after {
    content: "4";
  }
  .service-procedure__card_montage-bg::after {
    content: "4";
  }
  .service-procedure__card_transfer-bg::after {
    content: "5";
  }
  .example-of-complex {
    flex-direction: column;
  }
  .example-of-complex__card {
    flex: 0 2 666px;
  }
  .example-of-complex__description {
    flex-grow: 1;
  }
  .example-of-complex__object_with-margin {
    margin-bottom: 20px;
  }
}
@media screen and (max-width:986px) {
  .service-page__header {
    padding-left: 10px;
  }
  .examples-of-objects {
    grid-auto-rows: 300px;
  }
  .systems {
    grid-auto-rows: 230px;
  }
  .systems__card-title::after {
    width: 110%;
    left: -5%;
  }
  .shop-category {
    gap: 20px;
  }
  .shop-category__products {
    gap: 20px;
  }
  .contracts__header {
    margin-left: 10px;
  }
  .contracts__cards {
    flex-wrap: wrap;
    margin: 0 0 -10px 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .contracts__cards::before {
    display: none;
  }
  .contracts__card {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-basis: 100%;
    min-height: auto;
    margin: 0 0 10px 0;
  }
  .contracts__card-price {
    margin-left: 10px;
    min-width: 290px;
  }
  .contracts__card-conditions {
    flex-basis: 50%;
    padding-left: 0;
  }
  .contacts__callback-button {
    margin-left: 10px;
  }
  .maintenance-header {
    flex-flow: column;
  }
  .maintenance-header__text {
    display: none;
  }
  .maintenance-header__gsm-promo {
    display: none;
  }
  .maintenance-header__callback-button {
    bottom: 0;
  }
  .maintenance-header__basic-price {
    padding: 0;
  }
  .documents__list {
    padding-left: 20px;
  }
  .zones {
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 1fr;
    grid-template-areas: "prices" "map" "cities";
    gap: 20px;
  }
  .zones__prices {
    padding-left: 0;
    min-width: 0;
  }
  .zones__prices-header {
    margin-bottom: 10px;
  }
  .zones__live-map {
    height: 50vh;
  }
  .zones__cities {
    padding-top: 0;
  }
}
@media screen and (max-width:860px) {
  .examples-of-objects {
    grid-auto-rows: 260px;
  }
  .shop-menu-in-header {
    grid-row: 3 / 4;
  }
  .documents__list-wrapper {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
  .documents__list {
    padding-left: 40px;
  }
  .documents__exemples {
    flex-basis: 100%;
  }
  .examples-of-projects-tmp {
    justify-content: space-between;
  }
  .examples-of-projects-tmp__item {
    width: 48%;
  }
}
@media screen and (max-width:768px) {
  .systems {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 264px;
  }
  .examples-of-montage-tmp {
    justify-content: space-between;
  }
  .examples-of-montage-tmp__item {
    width: 48%;
  }
  .examples-of-objects {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 315px;
  }
  .shop-category__products {
    grid-template-columns: 1fr;
  }
  .shop-category__aside {
    grid-template-columns: 1fr;
    grid-template-rows: 177px 177px min-content;
  }
  .shop-category__brends {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width:650px) {
  .examples-of-objects {
    grid-auto-rows: 300px;
  }
  .price__column-header_number, .price__cell_number, .price__column-header_annotation, .price__cell_annotation {
    display: none;
  }
  .contracts__card {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    height: min-content;
  }
  .contracts__card-price {
    margin-left: 0;
    width: 90%;
  }
  .contacts__callback-button {
    margin-left: 0;
  }
  .example-of-complex__object {
    flex-direction: column;
  }
  .example-of-complex__card {
    flex: 0 0 333px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width:575px) {
  .shop {
    grid-template-rows: max-content;
  }
  .shop__header::after {
    display: none;
  }
  .shop-category__brends {
    grid-template-columns: 1fr;
  }
  .shop-menu-in-header::after {
    right: 10px;
  }
  .examples-of-objects {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 315px;
  }
  .systems__card-title::after {
    width: 102%;
    left: -1%;
  }
  .documents__exemples {
    grid-template-columns: 1fr;
    grid-template-rows: min-content repeat(8, 42px);
  }
  .documents__exemples-header {
    grid-column: 1 / 2;
  }
}
@media screen and (max-width:460px) {
  .service-page__header {
    padding-left: 5px;
  }
  .systems {
    grid-template-columns: 1fr;
  }
  .shop {
    grid-auto-rows: 40px;
    gap: 5px;
  }
  .shop-categories__card-overlay {
    height: 100%;
  }
  .shop-category__products {
    grid-auto-rows: min-content;
  }
  .shop-category__card {
    grid-template-columns: 1fr;
    padding-bottom: 20px;
  }
  .shop-category__brends-header {
    font-size: 24px;
  }
  .shop-categories__card-bg {
    display: none;
    align-items: center;
  }
  .shop-menu-in-header {
    grid-row: 1 / 2;
  }
  .shop-menu-in-header__list {
    position: relative;
  }
  .content_paragraph_hide-for-mobile {
    display: none;
  }
  .maintenance-header {
    margin-bottom: 30px;
  }
  .maintenance-header__header {
    font-size: 28px;
    margin: 24px 0;
  }
  .contracts__header {
    margin-left: 5px;
  }
  .contracts__cards {
    padding-left: 2px;
    padding-right: 2px;
  }
  .contracts__card-price {
    min-width: 0;
    width: 98%;
  }
  .conditions__card-price-item {
    padding: 0 1px;
  }
  .conditions__cost {
    font-size: 19px;
  }
  .price__cell_type-of-work {
    padding-left: 2px;
  }
  .price__cell_hide-text-for-mobile {
    display: none;
  }
  .documents__list {
    padding-left: 20px;
  }
  .zones__prices-amount {
    min-width: 52px;
  }
  .unfolding-block__button::after {
    content: "+";
  }
  .unfolding-block__button_fold::after {
    content: "-";
  }
  .certificates-tmp__header {
    font-size: 1.2em;
  }
  .examples-of-projects-tmp__item {
    width: 100%;
  }
  .examples-of-montage-tmp__item {
    width: 100%;
  }
  .footer__logo, .footer__company-name {
    margin: 0 auto;
  }
}
/* arcticmodal styles */
.g-hidden {
  display: none;
}
.arcticmodal-overlay, .arcticmodal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.arcticmodal-container {
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}
*:first-child+html .arcticmodal-container {
  height: 100%;
}
.arcticmodal-container_i {
  height: 100%;
  margin: 0 auto;
}
.arcticmodal-container_i2 {
  padding: 24px;
  margin: 0;
  border: 0;
  vertical-align: middle;
}
.arcticmodal-error {
  padding: 20px;
  border-radius: 10px;
  background: #000000;
  color: #ffffff;
}
.arcticmodal-loading {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: #000000 url(loading.gif) no-repeat 50% 50%;
}
/* Owl Carousel */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
      touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* colorbox */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
#cboxWrapper {
  max-width: none;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#cboxTitle {
  margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
#colorbox, #cboxContent, #cboxLoadedContent {
          box-sizing: content-box;
     -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#cboxOverlay {
  background: #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#colorbox {
  outline: 0;
}
#cboxContent {
  margin-top: 32px;
  overflow: visible;
  background: #000000;
}
.cboxIframe {
  background: #ffffff;
}
#cboxError {
  padding: 50px;
  border: 1px solid #cccccc;
}
#cboxLoadedContent {
  background: #000000;
  padding: 1px;
}
#cboxLoadingGraphic {
  background: url(../colorbox/images/loading.gif) no-repeat center center;
}
#cboxLoadingOverlay {
  background: #000000;
}
#cboxTitle {
  position: absolute;
  top: -22px;
  left: 0;
  color: #000000;
}
#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: url(../colorbox/images/controls.png) no-repeat 0 0;
}
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0;
}
#cboxPrevious {
  background-position: 0 0;
  right: 44px;
}
#cboxPrevious:hover {
  background-position: 0 -25px;
}
#cboxNext {
  background-position: -25px 0;
  right: 22px;
}
#cboxNext:hover {
  background-position: -25px -25px;
}
#cboxClose {
  background-position: -50px 0;
  right: 0;
}
#cboxClose:hover {
  background-position: -50px -25px;
}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious {
  right: 66px;
}
.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px;
}
.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px;
}
.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0;
  right: 44px;
}
.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px;
}
/* СЃРєСЂС‹РІР°РµРј Р±РµР№РґР¶ recaptcha V3 */
.grecaptcha-badge {
  display: none;
}
/* certificates-tmp */
.certificates-tmp {
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 48px, #fff8bb 48px, #fff8bb 48px, #fff8bb 100%, #ffffff 100%);
  padding-bottom: 20px;
}
.certificates-tmp__header {
  margin-bottom: 40px;
}
.certificates-tmp__slider {
  margin: 0 50px;
  width: auto;
}
.certificates-tmp__nav-button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #006eae;
  background-image: url(https://www.tsm-company.ru/assets/templates/TSM-COMPANY_NEW/img/slider2_naw.png);
  background-repeat: no-repeat;
  background-position: 45% center;
  display: block;
  position: absolute;
  left: -40px;
  top: 40%;
  border-width: 0;
  cursor: pointer;
}
.certificates-tmp__nav-button_next {
  transform: rotate(180deg);
  right: -40px;
  left: auto;
}
.certificates-tmp__seo-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 15px;
}
.certificates-tmp__seo-link {
  text-decoration: none;
  color: black;
}