.price {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, min-content);
  background-color: #ffffff;
}
.price__table {
  text-align: center;
  font-size: 14px;
  border-collapse: collapse;
}
.price__column-header {
  height: 38px;
  background-color: #ffd200;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.price__column-header:nth-child(2n+1) {
  background-color: #ffcb00;
}
.price__cell {
  height: 36px;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.price__cell_type_type-of-work {
  text-align: left;
  padding-left: 10px;
}
.price__link {
  font-size: 14px;
  color: #0088be;
  font-weight: bold;
  text-decoration: none;
}
@media screen and (max-width:650px) {
  .price__column-header_type_number, .price__cell_type_number, .price__column-header_type_annotation, .price__cell_type_annotation {
    display: none;
  }
}
@media screen and (max-width:460px) {
  .price__cell_type_type-of-work {
    padding-left: 2px;
  }
  .price__cell_hide-text-for-mobile {
    display: none;
  }
}