.certificates-tmp {
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 48px, #fff8bb 48px, #fff8bb 48px, #fff8bb 100%, #ffffff 100%);
  padding-bottom: 20px;
}
.certificates-tmp__header {
  margin-bottom: 40px;
}
.certificates-tmp__slider {
  margin: 0 50px;
  width: auto;
}
.certificates-tmp__nav-button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #006eae;
  background-image: url('certificates-tmp_arrow.png');
  background-repeat: no-repeat;
  background-position: 45% center;
  display: block;
  position: absolute;
  left: -40px;
  top: 40%;
  border-width: 0;
  cursor: pointer;
}
.certificates-tmp__nav-button_next {
  transform: rotate(180deg);
  right: -40px;
  left: auto;
}
.certificates-tmp__seo-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 15px;
}
.certificates-tmp__seo-link {
  text-decoration: none;
  color: black;
}
@media screen and (max-width:460px) {
  .certificates-tmp__header {
    font-size: 1.2em;
  }
}