.footer {
  column-gap: 0;
  row-gap: 0;
  background-color: #ffffff;
  font-family: 'MuseoSansCyrl', sans-serif;
}
.footer_bg_grey {
  background-color: #f4f4f4;
}
.footer__company-info {
  align-items: flex-end;
  row-gap: 43px;
  flex-direction: column;
}
.footer__requisites {
  row-gap: 18px;
  flex-direction: column;
}
.footer__requisite {
  justify-content: flex-end;
}
.footer__company-name {
  font-size: 14px;
  font-weight: 300;
}
.footer__menu-block {
  column-gap: 100px;
  justify-content: flex-start;
}
.footer__menu-header {
  margin-bottom: 13px;
  font-size: 17px;
}
.footer__menu-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
@media screen and (max-width:986px) {
  .footer__menu-block {
    column-gap: 80px;
  }
}
@media screen and (max-width:650px) {
  .footer {
    row-gap: 25px;
    flex-direction: column;
  }
  .footer__company-info {
    align-items: center;
    row-gap: 25px;
  }
  .footer__requisite {
    justify-content: center;
  }
  .footer__menu-block {
    column-gap: 0;
    justify-content: space-around;
  }
}