@import '../../sass/variables';

.page-header {
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 'logo requisites requisites requisites cart'
  'logo main-menu main-menu main-menu cart'
  'logo search-field search-field search-field cart'
  'service-menu service-menu service-menu service-menu service-menu';
  column-gap: 60px;
  row-gap: 0;
  box-shadow: 0 4px 50px rgb(0 0 0 / 15%);

  @media screen and (max-width: $screen-xl) {
    grid-template-columns: min-content repeat(3, 1fr) 148px;
    grid-template-areas: 'logo requisites requisites requisites requisites'
    'logo main-menu main-menu main-menu cart'
    'logo search-field search-field search-field cart'
    'service-menu service-menu service-menu service-menu service-menu';
    column-gap: 20px;
  }
  
  @media screen and (max-width: $screen-lg) {
    grid-template-columns: min-content repeat(3, 1fr) max-content;
    grid-template-areas: 'main-menu main-menu main-menu main-menu main-menu'
    'logo requisites requisites requisites cart'
    'search-field search-field search-field search-field search-field'
    'service-menu service-menu service-menu service-menu service-menu';
  }

  @media screen and (max-width: 768px) {
    grid-template-areas: 'logo requisites requisites requisites requisites'
    'search-field search-field search-field search-field search-field'
    'service-menu service-menu service-menu service-menu service-menu';
  }
  
  @media screen and (max-width: $screen-md) {
    grid-template-columns: 1fr;
    grid-template-areas: 'logo'
    'requisites'
    'search-field'
    'service-menu';
    row-gap: 10px;
  }
  
  @media screen and (max-width: $screen-xs) {
    grid-template-areas: 'logo'
    'requisites'
    'search-field'
    'serv-menu-button'
    'service-menu';
  }

  &__logo {
    grid-area: logo;
    margin: 0;

    @media screen and (max-width: $screen-sm) {
      display: block;
    }
  }

  &__company-name {
    display: none;
    grid-area: name;

    @media screen and (max-width: $screen-sm) {
      text-align: left;
    }

    @media screen and (max-width: $screen-xs) {
      text-align: center;
    }
  }

  &__main-menu {
    z-index: 4000;
    grid-area: main-menu;
    margin-bottom: 10px;
    padding: 0;

    @media screen and (max-width: $screen-xl) {
      position: static;
      border: 0;
    }
  }

  &__requisites {
    grid-area: requisites;

    @media screen and (max-width: $screen-lg) {
      margin-bottom: 12px;
    }

    @media screen and (max-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__search {
    grid-area: search-field;
    margin-top: 6px;
    margin-bottom: 23px;

    @media screen and (max-width: $screen-xl) {
      margin-bottom: 19px;
    }

    @media screen and (max-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__cart {
    grid-area: cart;
  }

  &__service-menu {
    grid-area: service-menu;
  }

  &__mobile-service-menu-button {
    display: none;
    grid-area: serv-menu-button;
    border-radius: 0;

    @media screen and (max-width: $screen-xs) {
      display: block;
      grid-area: serv-menu-button;
    }
  }
}