.calc-button {
  background: #00b8ee url(kalkulatr.png) no-repeat 10% 47%;
}
.calc-button__text {
  line-height: 35px;
  color: #ffffff;
}
@media screen and (max-width:1300px) {
  .calc-button {
    border-radius: 0;
    background: #00b8ee url(kalkulatr.png) no-repeat 50% 50%;
  }
  .calc-button__text {
    display: none;
  }
}