.zones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas: 'map info' 'cities cities';
  column-gap: 30px;
}
.zones__map {
  display: flex;
  grid-area: map;
  flex-direction: column;
}
.zones__header {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 25px;
}
.zones__map-explanation {
  margin-bottom: 17px;
  font-size: 15px;
}
.zones__live-map {
  height: 100%;
  background-image: url('zones__static-map.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.zones__info {
  display: flex;
  grid-area: info;
  row-gap: 30px;
  flex-direction: column;
  min-height: 620px;
}
.zones__price-header {
  margin-bottom: 40px;
}
.zones__price-table {
  font-weight: 600;
}
.zones__price-amount {
  min-width: 60px;
}
.zones__agreements {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: space-between;
}
.zones__document-exemple-link {
  max-width: 458px;
}
.zones__cities {
  grid-area: cities;
  padding-top: 20px;
}
.zones__cities-list {
  line-height: 30px;
}
@media screen and (max-width:1300px) {
  .zones__map-explanation {
    font-size: 14px;
  }
  .zones__price-header {
    margin-bottom: 39px;
  }
}
@media screen and (max-width:986px) {
  .zones {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: 'info' 'map' 'cities';
    gap: 20px;
  }
  .zones__info {
    min-height: auto;
  }
  .zones__price {
    min-width: 0;
    padding-left: 0;
  }
  .zones__price-header {
    flex: 0 1 100%;
    margin-bottom: 10px;
  }
  .zones__agreements {
    display: flex;
    gap: 4px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .zones__agreements-header {
    flex: 1 0 100%;
  }
  .zones__agreements-branch {
    display: none;
  }
  .zones__document-exemple-link {
    flex: 0 1 394px;
    max-width: none;
  }
  .zones__live-map {
    height: 50vh;
  }
  .zones__cities {
    padding-top: 0;
  }
}
@media screen and (max-width:860px) {
  .zones__agreements {
    justify-content: flex-start;
  }
  .zones__agreements-branch {
    display: initial;
  }
  .zones__document-exemple-link {
    flex: 0 1 458px;
    max-width: none;
  }
}
@media screen and (max-width:575px) {
  .zones__agreements-branch {
    display: none;
  }
  .zones__document-exemple-link {
    flex: 1 1 100%;
    max-width: none;
  }
}
@media screen and (max-width:460px) {
  .zones__price-amount {
    min-width: 52px;
  }
  .zones__document-exemple-link {
    font-size: 3.6vw;
  }
  .zones__document-exemple-link::before {
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: 0 4px;
    font-size: 10px;
  }
}