@import '../../sass/variables.scss';

.repair-header {
  position: relative;
  display: flex;
  min-height: 400px;
  margin: 0 0 50px 0;
  background-color: #cae7f5;

  @media screen and (max-width: $screen-xl) {
    margin-bottom: 30px;
  }

  @media screen and (max-width: $screen-lg) {
    flex-flow: column;
  }

  @media screen and (max-width: $screen-xs) {
    margin-bottom: 30px;
  }

  &::after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: 0.3;
    background-image: url('repair-header__bg_men.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: contain;

    @media screen and (max-width: $screen-xl) {
      opacity: 0.2;
      background-size: cover;
    }
  }

  &__info {
    z-index: 2;
    display: flex;
    flex: 1 1 55%;
    flex-direction: column;

    @media screen and (max-width: $screen-xl) {
      flex: 1 1 65%;
    }
  }

  &__header {
    margin: 35px 0;
    color: #006eab;
    font-size: 40px;
    font-weight: 400;

    @media screen and (max-width: $screen-xs) {
      margin: 24px 0;
      font-size: 28px;
    }
  }

  &__text {
    min-height: 177px;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 30px;

    @media screen and (max-width: $screen-lg) {
      display: none;
    }
  }

  &__gsm-promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 38px;
    padding-left: 45px;
    background-image: url('inform.png');
    background-repeat: no-repeat;
    background-position: 0 50%;

    @media screen and (max-width: $screen-lg) {
      display: none;
    }
  }

  &__gsm-promo-link {
    color: #0093c3;
  }

  &__callback-button {
    position: relative;
    bottom: -20px;
    max-width: 280px;
    border-radius: 6px;
    background: linear-gradient(#da0235, #a60027);
    text-decoration: none;
    line-height: 45px;

    @media screen and (max-width: $screen-lg) {
      bottom: 0;
    }
  }

  &__basic-price {
    z-index: 2;
    display: flex;
    flex: 1 1 45%;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 0 0 40px;

    @media screen and (max-width: $screen-xl) {
      flex: 1 1 35%;
    }

    @media screen and (max-width: $screen-lg) {
      padding: 0;
    }
  }

  &__basic-price-link {
    margin-top: 10px;
    padding: 10px;
    border: solid 2px #006eae;
    border-radius: 6px;
    background: rgba(249, 249, 249, 0.85);
    color: #006eae;
    text-align: center;
    text-decoration: none;
    font-family: 'Proxima Nova Cn Bl', sans-serif;
    font-size: 20px;
  }

  &_bg_dispatching {
    &::after {
      background-image: url('repair-header__bg_dispatching.png');
    }
  }
}