@import '../../sass/variables';

.shop-product {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 244px 517px;
  grid-template-rows: 97px auto auto;
  grid-template-areas: 'gallery properties cards'
  'gallery order cards'
  'tabs tabs tabs';
  column-gap: 42px;
  row-gap: 30px;

  @media screen and (max-width: $screen-xl) {
    grid-template-columns: minmax(0, 1fr) 244px 244px;
  }

  @media screen and (max-width: $screen-lg) {
    grid-template-columns: minmax(0, 1fr) 243px;
    grid-template-rows: 97px 250px repeat(2, auto);
    grid-template-areas: 'gallery properties'
    'gallery order'
    'tabs tabs'
    'cards cards';
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 243px 1fr;
    grid-template-rows: 377px 97px repeat(2, auto);
    grid-template-areas: 'gallery gallery'
    'properties order'
    'tabs tabs'
    'cards cards';
    row-gap: 40px;
  }

  @media screen and (max-width: $screen-md) {
    grid-template-rows: 377px repeat(3, auto);
    gap: 20px;
  }

  @media screen and (max-width: $screen-xs) {
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: 'gallery'
    'properties'
    'order'
    'tabs'
    'cards';
  }

  &__header {
    grid-area: header;
  }

  &__gallery {
    grid-area: gallery;
    background-color: #ffffff;
  }

  &__properties {
    display: flex;
    grid-area: properties;
    row-gap: 20px;
    flex-direction: column;
  }

  &__propertiy {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }

  &__property-name {
    font-weight: 300;
  }

  &__property-value {
    font-weight: 400;

    &_availability {
      color: #4c8700;
    }
  }

  &__order {
    display: flex;
    grid-area: order;
    row-gap: 20px;
    flex-direction: column;

    @media screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: 154px min-content;
      grid-template-rows: auto 30px auto;
      grid-template-areas: 'price button'
      'quantity button';
      column-gap: 30px;
      row-gap: 20px;
      justify-self: flex-end;
    }

    @media screen and (max-width: $screen-md) {
      grid-template-columns: 1fr;
      grid-template-areas: 'price'
      'quantity'
      'button';
    }

    @media screen and (max-width: $screen-xs) {
      grid-template-columns: 1fr;
      grid-template-areas: 'price'
      'quantity'
      'button';
      width: 100%;
    }
  }

  &__price {
    font-size: 25px;
    font-weight: 400;

    @media screen and (max-width: 768px) {
      grid-area: price;
    }
  }

  &__add-to-card {
    flex: 0 0 55px;
    width: 200px;
    height: 55px;
    background-color: #006eae;
    font-weight: 600;

    @media screen and (max-width: 768px) {
      align-self: center;
      grid-area: button;
      width: 180px;
    }

    @media screen and (max-width: $screen-xs) {
      width: 100%;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 243px 243px;
    grid-template-rows: 118px 118px;
    grid-template-areas: 'departure replacement'
    'consultation consultation';
    grid-area: cards;
    column-gap: 30px;
    row-gap: 30px;
    padding-top: 15px;

    @media screen and (max-width: $screen-xl) {
      display: grid;
      grid-template-columns: 243px;
      grid-template-rows: repeat(3, 118px);
      grid-template-areas: 'departure'
      'replacement'
      'consultation';
      padding-top: 0;
    }

    @media screen and (max-width: $screen-lg) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 118px;
      grid-template-areas: 'departure replacement consultation';
      column-gap: 33px;
    }

    @media screen and (max-width: $screen-md) {
      grid-template-columns: minmax(0, 1fr) 1fr;
      grid-template-rows: repeat(2, 118px);
      grid-template-areas: 'departure replacement'
      'consultation consultation';
    }

    @media screen and (max-width: $screen-xs) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 118px);
      grid-template-areas: 'departure'
      'replacement'
      'consultation';
      row-gap: 10px;
    }
  }

  &__card {
    display: flex;
    row-gap: 11px;
    flex-direction: column;
    padding: 29px 0 0 24px;
    border-radius: 5px;
    background-color: #bce5fe;
    color: #21526f;
    text-decoration: none;

    &:hover {
      background-color: #00a0d5;
    }

    &_type_departure {
      grid-area: departure;
      background-image: url('shop-product__card_bg_departure.png');
      background-position: 96% 76%;

      @media screen and (max-width: $screen-xs) {
        background-position: 89% 76%;
      }
    }

    &_type_replacement {
      grid-area: replacement;
      background-image: url('shop-product__card_bg_replacement.png');
      background-position: 78% 50%;
    }

    &_type_consultation {
      position: relative;
      grid-area: consultation;
      background-color: #9cd0ef;
      background-image: url('shop-product__card_bg_consultation.png');
      background-position: 66% 50%;

      @media screen and (max-width: $screen-xl) {
        padding-top: 20px;
        background-position: 78% 50%;
      }

      @media screen and (max-width: $screen-xs) {
        padding-top: 29px;
      }

      &::after {
        position: absolute;
        right: 36px;
        bottom: 0;
        width: 164px;
        height: 147px;
        content: '';
        background-image: url('shop-product__card_img_man.png');

        @media screen and (max-width: $screen-xl) {
          display: none;
        }
      }
    }
  }

  &__card-description {
    font-size: 18px;
  }

  &__card-text {
    font-size: 25px;
    font-weight: 600;
  }

  &__tabs {
    grid-area: tabs;
  }
}