.shop-product {
  display: grid;
  grid-template-columns: auto 244px 517px;
  grid-template-rows: 97px auto auto;
  grid-template-areas: 'gallery properties cards'
  'gallery order cards'
  'tabs tabs tabs';
  column-gap: 42px;
  row-gap: 30px;
}
.shop-product__header {
  grid-area: header;
}
.shop-product__gallery {
  grid-area: gallery;
  background-color: #ffffff;
}
.shop-product__properties {
  display: flex;
  grid-area: properties;
  row-gap: 20px;
  flex-direction: column;
}
.shop-product__propertiy {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.shop-product__property-name {
  font-weight: 300;
}
.shop-product__property-value {
  font-weight: 400;
}
.shop-product__property-value_availability {
  color: #4c8700;
}
.shop-product__order {
  display: flex;
  grid-area: order;
  row-gap: 20px;
  flex-direction: column;
}
.shop-product__price {
  font-size: 25px;
  font-weight: 400;
}
.shop-product__quantity {
  display: flex;
  flex: 0 0 30px;
  column-gap: 7px;
  width: 154px;
}
.shop-product__quantity-input {
  width: 60px;
  border: 1px solid #006eae;
  border-radius: 5px;
  text-align: center;
}
.shop-product__quantity-input::-webkit-outer-spin-button, .shop-product__quantity-input::-webkit-inner-spin-button {
  display: none;
}
.shop-product__order-quantity-button {
  flex: 0 0 40px;
  border-radius: 5px;
  background-color: #3d98ce;
  font-size: 20px;
  font-weight: 600;
}
.shop-product__add-to-card {
  flex: 0 0 55px;
  width: 200px;
  height: 55px;
  background-color: #006eae;
  font-weight: 600;
}
.shop-product__cards {
  display: grid;
  grid-template-columns: 243px 243px;
  grid-template-rows: 118px 118px;
  grid-template-areas: 'departure replacement'
  'consultation consultation';
  grid-area: cards;
  column-gap: 30px;
  row-gap: 30px;
  padding-top: 15px;
}
.shop-product__card {
  display: flex;
  row-gap: 11px;
  flex-direction: column;
  padding: 29px 0 0 24px;
  border-radius: 5px;
  background-color: #bce5fe;
  color: #21526f;
  text-decoration: none;
}
.shop-product__card:hover {
  background-color: #00a0d5;
}
.shop-product__card_type_departure {
  grid-area: departure;
  background-image: url('shop-product__card_bg_departure.png');
  background-position: 96% 76%;
}
.shop-product__card_type_replacement {
  grid-area: replacement;
  background-image: url('shop-product__card_bg_replacement.png');
  background-position: 78% 50%;
}
.shop-product__card_type_consultation {
  position: relative;
  grid-area: consultation;
  background-color: #9cd0ef;
  background-image: url('shop-product__card_bg_consultation.png');
  background-position: 66% 50%;
}
.shop-product__card_type_consultation::after {
  position: absolute;
  right: 36px;
  bottom: 0;
  width: 164px;
  height: 147px;
  content: '';
  background-image: url('shop-product__card_img_man.png');
}
.shop-product__card-description {
  font-size: 18px;
}
.product__card-text {
  font-size: 25px;
  font-weight: 600;
}
.shop-product__tabs {
  grid-area: tabs;
}
@media screen and (max-width:1300px) {
  .shop-product {
    grid-template-columns: auto 244px 244px;
  }
  .shop-product__cards {
    display: grid;
    grid-template-columns: 243px;
    grid-template-rows: repeat(3, 118px);
    grid-template-areas: 'departure'
    'replacement'
    'consultation';
  }
  .shop-product__cards {
    padding-top: 0;
  }
  .shop-product__card_type_consultation {
    padding-top: 20px;
    background-position: 78% 50%;
  }
  .shop-product__card_type_consultation::after {
    display: none;
  }
}
@media screen and (max-width:986px) {
  .shop-product {
    grid-template-columns: auto 243px;
    grid-template-rows: 97px 250px repeat(2, auto);
    grid-template-areas: 'gallery properties'
    'gallery order'
    'tabs tabs'
    'cards cards';
  }
  .shop-product__cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 118px;
    grid-template-areas: 'departure replacement consultation';
    column-gap: 33px;
  }
}
@media screen and (max-width:768px) {
  .shop-product {
    grid-template-columns: 243px 1fr;
    grid-template-rows: 377px 97px repeat(2, auto);
    grid-template-areas: 'gallery gallery'
    'properties order'
    'tabs tabs'
    'cards cards';
    row-gap: 40px;
  }
  .shop-product__order {
    display: grid;
    grid-template-columns: 154px min-content;
    grid-template-rows: auto 30px auto;
    grid-template-areas: 'price button'
    'quantity button';
    column-gap: 30px;
    row-gap: 20px;
    justify-self: flex-end;
  }
  .shop-product__price {
    grid-area: price;
  }
  .shop-product__quantity {
    grid-area: quantity;
  }
  .shop-product__add-to-card {
    align-self: center;
    grid-area: button;
    width: 180px;
  }
}
@media screen and (max-width:650px) {
  .shop-product {
    grid-template-rows: 377px repeat(3, auto);
    gap: 20px;
  }
  .shop-product__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 118px);
    grid-template-areas: 'departure replacement'
    'consultation consultation';
  }
  .shop-product__order {
    grid-template-columns: 1fr;
    grid-template-areas: 'price'
    'quantity'
    'button';
  }
}
@media screen and (max-width:575px) {
}
@media screen and (max-width:460px) {
  .shop-product {
    grid-template-columns: 1fr;
    grid-template-areas: 'gallery'
    'properties'
    'order'
    'tabs'
    'cards';
  }
  .shop-product__cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 118px);
    grid-template-areas: 'departure'
    'replacement'
    'consultation';
    row-gap: 10px;
  }
  .shop-product__card_type_departure {
    background-position: 89% 76%;
  }
  .product__card_type_consultation {
    padding-top: 29px;
  }
  .shop-product__order {
    grid-template-columns: 1fr;
    grid-template-areas: 'price'
    'quantity'
    'button';
    width: 100%;
  }
  .shop-product__add-to-card {
    width: 100%;
  }
}