@import '../../sass/variables';

.page {

  @media screen and (max-width: $screen-sm) {
    font-family: 'MuseoSansCyrl', sans-serif;
  }

  &__header {
    padding: 15px 60px 20px 60px;

    @media screen and (max-width: $screen-xl) {
      padding: 15px 10px 20px 10px;
    }

    @media screen and (max-width: $screen-lg) {
      padding: 15px 4 20px 4;
    }

    @media screen and (max-width: $screen-xs) {
      padding: 6px 2px 0 2px;
    }
  }

  &__main {
    background: #f2f2f2;

    &_bg_white {
      background-color: #ffffff;
    }
  }

  &__section {
    margin: 0 50px 35px 50px;

    @media screen and (max-width: $screen-xl) {
      margin: 0 20px 20px 20px;
    }

    @media screen and (max-width: $screen-lg) {
      margin: 0 10px 20px 10px;
    }

    @media screen and (max-width: $screen-xs) {
      margin: 0 5px 20px 5px;
    }

    &_type_wide {
      margin-right: 0;
      margin-left: 0;
      padding-right: 50px;
      padding-left: 50px;

      @media screen and (max-width: $screen-xl) {
        margin-right: 0;
        margin-left: 0;
        padding-right: 20px;
        padding-left: 20px;
      }

      @media screen and (max-width: $screen-lg) {
        margin-right: 0;
        margin-left: 0;
        padding-right: 10px;
        padding-left: 10px;
      }

      @media screen and (max-width: $screen-xs) {
        margin-right: 0;
        margin-left: 0;
        padding-right: 5px;
        padding-left: 5px;
      }
    }
  }

  &__footer {
    padding: 40px 60px 40px 60px;

    @media screen and (max-width: 768px) {
      padding: 40px 15px 20px 15px;
    }

    @media screen and (max-width: $screen-md) {
      padding: 20px 5px 25px 5px;
    }
  }

  &_fonts_shop {
    font-family: 'MuseoSansCyrl', sans-serif;
  }
}