.page_fonts_shop {
  font-family: 'MuseoSansCyrl', sans-serif;
}
.page__header {
  padding: 15px 60px 20px 60px;
}
.page__main {
  background: #f2f2f2;
}
.page__main_bg_white {
  background-color: #ffffff;
}
.page__section {
  margin: 0 50px 35px 50px;
}
.page__section_type_wide {
  margin-left: 0;
  margin-right: 0;
  padding-left: 50px;
  padding-right: 50px;
}
.page__footer {
  padding: 40px 60px 40px 60px;
}
@media screen and (max-width:1300px) {
  .page__header {
    padding: 15px 10px 20px 10px;
  }
  .page__section {
    margin: 0 20px 20px 20px;
  }
  .page__section_type_wide {
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width:986px) {
  .page__header {
    padding: 15px 4 20px 4;
  }
  .page__section {
    margin: 0 10px 20px 10px;
  }
  .page__section_type_wide {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width:768px) {
  .page__footer {
    padding: 40px 15px 20px 15px;
  }
}
@media screen and (max-width:650px) {
  .page__footer {
    padding: 20px 5px 25px 5px;
  }
}
@media screen and (max-width:575px) {
  .page {
    font-family: 'MuseoSansCyrl', sans-serif;
  }
}
@media screen and (max-width:460px) {
  .page__header {
    padding: 6px 2px 0 2px;
  }
  .page__section {
    margin: 0 5px 20px 5px;
  }
  .page__section_type_wide {
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
}