.mobile-service-menu-button {
  z-index: 1000;
  background: #006eae url('head_bot_after.png') no-repeat 90% 50%;
}
.mobile-service-menu-button__text {
  text-align: left;
  color: #ffffff;
  font-size: 20px;
  line-height: 60px;
}