.service-page-price {
  flex-direction: column;
  background-color: #eefaff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
}
.service-page-price__header {
  margin-bottom: 20px;
}
.service-page-price__table {
  margin-bottom: 20px;
  background-color: #ffffff;
}
.service-page-price__button {
  background-color: #006eae;
  max-width: 270px;
  border: none;
  text-decoration: none;
  line-height: 45px;
}