.main-slider {
  height: 390px;
  width: 100%;
  box-shadow: 0 13px 15px 0 rgba(223, 223, 223, 1);
}
.main-slider__slide {
  display: flex;
  justify-content: flex-end;
}
.main-slider__slide-overlay {
  height: 100%;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(241, 241, 241, 1) 10%);
  text-transform: uppercase;
  text-align: center;
  white-space: normal;
  min-width: 600px;
}
.main-slider__slide-title {
  font-size: 40px;
  font-family: 'Proxima Nova Cn Bl', sans-serif;
  color: #006eae;
}
.main-slider__slide-description {
  font-size: 20px;
  color: #000000;
  font-family: 'Proxima Nova ExCn Lt', sans-serif;
}
.main-slider__slide-link {
  border: 1px solid #ffca00;
  border-radius: 6px;
  max-width: 270px;
  width: 98%;
  margin-top: 17px;
  text-decoration: none;
}
.main-slider__slide-link::after {
  content: "подробнее";
  font-size: 18px;
  line-height: 55px;
  color: #000000;
}