.unfolding-block {
  display: flex;
  flex-direction: column;
}
.unfolding-block__button {
  color: #000000;
  font-weight: 600;
  border: 2px solid #ffcb00;
  line-height: 50px;
  margin-bottom: 5px;
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.unfolding-block__button::after {
  content: "развернуть +";
}
.unfolding-block__button_fold::after {
  content: "свернуть -";
}
.unfolding__content {
  display: none;
  margin-bottom: 20px;
}
.unfolding__content_visible {
  display: block;
}
@media screen and (max-width:460px) {
  .unfolding-block__button::after {
    content: "+";
  }
  .unfolding-block__button_fold::after {
    content: "-";
  }
}