.maintenance-header {
  display: flex;
  min-height: 400px;
  margin: 0 0 50px 0;
  position: relative;
  background-color: #cae7f5;
}
.maintenance-header::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  background-image: url('serv.png');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: contain;
}
.maintenance-header__info {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.maintenance-header__header {
  margin: 35px 0;
  color: #006eab;
  font-size: 40px;
  font-weight: 400;
}
.maintenance-header__text {
  min-height: 177px;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 20px;
}
.maintenance-header__gsm-promo {
  padding-left: 45px;
  background-image: url('inform.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.maintenance-header__gsm-promo-link {
  color: #0093c3;
}
.maintenance-header__callback-button {
  line-height: 45px;
  border-radius: 6px;
  background: linear-gradient(#da0235, #a60027);
  text-decoration: none;
  max-width: 280px;
  position: relative;
  bottom: -20px;
}
.maintenance-header__basic-price {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 40px;
  z-index: 2;
  box-sizing: border-box;
}
.maintenance-header__basic-price-link {
  font-size: 20px;
  font-family: 'Proxima Nova Cn Bl', sans-serif;
  color: #006eae;
  text-decoration: none;
  border-radius: 6px;
  border: solid 2px #006eae;
  background: rgba(249, 249, 249, 0.85);
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}
@media screen and (max-width:1300px) {
  .maintenance-header {
    margin-bottom: 30px;
  }
  .maintenance-header::after {
    opacity: .2;
    background-size: cover;
  }
}
@media screen and (max-width:986px) {
  .maintenance-header {
    flex-flow: column;
  }
  .maintenance-header__text {
    display: none;
  }
  .maintenance-header__gsm-promo {
    display: none;
  }
  .maintenance-header__callback-button {
    bottom: 0;
  }
  .maintenance-header__basic-price {
    padding: 0;
  }
}
@media screen and (max-width:460px) {
  .maintenance-header {
    margin-bottom: 30px;
  }
  .maintenance-header__header {
    font-size: 28px;
    margin: 24px 0;
  }
}

