.maintenance-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.maintenance-header__content {
  position: relative;
  z-index: 2000;
  display: flex;
  flex: 350px 0 1;
  box-sizing: border-box;
  width: 100%;
  background-color: #cae7f5;
}

.maintenance-header__info {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding: 0 50px 30px 50px;
}

.maintenance-header__header {
  margin: 35px 0;
  color: #006eab;
  font-size: 40px;
  font-weight: 400;
}

.maintenance-header__text {
  min-height: 177px;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 20px;
}

.maintenance-header__gsm-promo {
  padding-left: 45px;
  background-image: url('inform.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.maintenance-header__gsm-promo-link {
  color: #0093c3;
}

.maintenance-header__map {
  position: relative;
  flex: 50% 0 0;
  background-image: url('maintenance-header__static-map.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.maintenance-header__map-description {
  position: absolute;
  z-index: 2000;
  top: 10px;
  right: 10px;
  padding: 0 10px;
  border-radius: 4px;
  background-color: #ffffffd9;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
}

.maintenance-header__promo {
  position: relative;
  display: flex;
  flex: auto 0 1;
  flex-direction: column;
  width: 100%;
  padding: 10px 6% 0 6%;
}

.maintenance-header__promo::before {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0.4;
  background-image: url('maintenance-header__bg_men.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.maintenance-header__promo-text {
  margin-top: 10px;
  padding: 10px;
  border: solid 2px #006eae;
  border-radius: 6px;
  background: rgba(249, 249, 249, 0.85);
  color: #006eae;
  text-align: center;
  text-decoration: none;
  font-family: 'Proxima Nova Cn Bl', sans-serif;
  font-size: 24px;
  line-height: 36px;
}

.maintenance-header__promo-text_font-size_l {
  font-size: 1.1em;
}

.maintenance-header__promo-link {
  text-decoration: none;
  color: #006eae;
}

.maintenance-header__callback-button {
  position: relative;
  z-index: 2000;
  top: -23px;
  flex: 45px 0 1;
  max-width: 280px;
  margin: 0 0 0 50px;
  border-radius: 6px;
  background: linear-gradient(#da0235, #a60027);
  text-decoration: none;
  line-height: 45px;
}

.maintenance-header__basic-price {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  z-index: 2;
  box-sizing: border-box;
}

.maintenance-header__basic-price-link {
  font-size: 20px;
  font-family: 'Proxima Nova Cn Bl', sans-serif;
  color: #006eae;
  text-decoration: none;
  border-radius: 6px;
  border: solid 2px #006eae;
  background: rgba(249, 249, 249, 0.85);
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

@media screen and (max-width:1300px) {
  .maintenance-header__promo {
    padding: 0 3% 0 3%;
  }
  .maintenance-header__map-description {
    top: 44px;
    right: auto;
    left: 10px;
  }
}
@media screen and (max-width:986px) {
  .maintenance-header__content {
    background-position-x: center;
    flex: fit-content 0 1;
  }
  .maintenance-header__promo::before {
    display: none;
  }
  .maintenance-header__promo {
    background-image: url('maintenance-header__bg_map.jpg');
    background-size: cover;
    padding-bottom: 30px;
  }
  .maintenance-header__map {
    display: none;
  }
  .maintenance-header__info {
    display: none;
  }
}
@media screen and (max-width:460px) {
  .maintenance-header__promo {
    padding: 0 4px 30px 4px;
  }
  .maintenance-header__promo-text {
    font-size: 5.1vw;
    line-height: 30px;
  }
  .maintenance-header__callback-button {
    margin: 0 0 0 5px;
  }
}