.search {
  display: flex;
  justify-content: space-between;
  height: 35px;
}
.search__input {
  flex: 1 1 100%;
  box-sizing: border-box;
  border-width: 2px 0 2px 2px;
  border-style: solid;
  border-color: #3d98ce;
  border-radius: 5px 0 0 5px;
}
.search__button {
  flex: 0 0 125px;
  padding-left: 4%;
  color: #ffffff;
  border: none;
  border-radius: 0 5px 5px 0;
  background: #006eae;
  background-image: url('search__button.png');
  background-repeat: no-repeat;
  background-position: 20% 50%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.search__button::after {
  content: 'Поиск';
}
@media screen and (max-width:460px) {
  .search__button {
    flex: 0 0 45px;
    background-position: 50% 50%;
  }
  .search__button::after {
    display: none;
  }
}