.card {
  display: flex;
  position: relative;
  border-radius: 6px;
  background-repeat: no-repeat;
  box-sizing: border-box;

  &__header {
    font-size: 20px;
    text-align: center;
  }

  &__link {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  &__button {
    line-height: 46px;
    width: 216px;
    background: rgba(10, 74, 105, 0.5);
    border: 1px solid #ffc600;
    color: #ffc600;
  }
}