.order-of-work {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-around;
}
.order-of-work__header {
  flex-basis: 100%;
}
.order-of-work__text {
  line-height: 25px;
}
.order-of-work__card {
  flex-basis: 18%;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 0 0;
}
.order-of-work__card_min-width_216px {
  min-width: 216px;
}
.order-of-work__card::before {
  content: "";
  display: block;
  height: 31px;
  width: 31px;
  position: absolute;
  right: 0;
  top: 48px;
  border: 1px solid #dbe3e3;
  background-image: url(work_after.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}
.order-of-work__card:nth-child(7)::before {
  display: none;
}
.order-of-work__card-image {
  margin-bottom: 28px;
  height: 57px;
}
.order-of-work__card-header {
  color: #0078b3;
  margin-bottom: 18px;
}
.order-of-work__card-header::after {
  content: "";
  width: 17px;
  height: 17px;
  display: inline-block;
  background: url(work_after2.png) no-repeat;
  vertical-align: middle;
  margin-left: 5px;
}
.order-of-work__card-text {
  color: #8a8a8a;
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width:1300px) {
  .order-of-work__card:nth-child(-n+5) {
    flex-basis: 32%;
  }
  .order-of-work__card:nth-child(1n+6) {
    flex-basis: 48%;
  }
}
@media screen and (max-width:650px) {
  .order-of-work__card {
    flex-basis: 46%!important;
  }
}
@media screen and (max-width:460px) {
  .order-of-work__card {
    flex-basis: 100%!important;
    padding-right: 0;
  }
  .order-of-work__card::before {
    right: auto;
    top: auto;
    bottom: -38px;
    transform: rotate(90deg);
  }
}
