.shop-menu {
  display: flex;
  column-gap: 14px;
  row-gap: 14px;
  flex-wrap: wrap;
  justify-content: left;
}
.shop-menu__category {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  height: 37px;
  padding: 0 46px 0 16px;
  cursor: pointer;
  border-radius: 5px;
  background: #ffffff;
  color: #1b313e;
  text-decoration: none;
  text-transform: none;
  font-size: 16px;
  font-weight: 400;
}
.shop-menu__category::after {
  position: absolute;
  top: 3px;
  right: 20px;
  content: '+';
  color: #3d98ce;
  font-size: 23px;
  font-weight: 600;
}
.shop-menu__category_direct-link::after {
  content: '>>';
  top: 9px;
  right: 16px;
  font-size: 19px;
}
.shop-menu__category_open {
  z-index: 2000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #9fbbcb;
}
.shop-menu__category_open::after {
  content: '-';
}
.shop-menu__subcategories-list {
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 6px;
  top: 40px;
  left: 0;
  display: none;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.15);
  line-height: 20px;
}
.shop-menu__subcategories-list_visible {
  display: flex;
}
.shop-menu__subcategories-list_visible:hover {
  cursor: auto;
}
.shop-menu__link {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}
.shop-menu__link:hover {
  text-decoration: underline;
}
@media screen and (max-width:460px) {
  .shop-menu {
    row-gap: 5px;
    flex-direction: column;
  }
  .shop-menu__category {
    height: 38px;
    font-size: 20px;
  }
  .shop-menu__subcategories-list {
    line-height: 28px;
  }
  .shop-menu__link {
    font-size: 18px;
  }
}