.requisites {
  display: flex;
  column-gap: 66px;
  font-size: 15px;
  height: 30px;
}
.requisites__requisite {
  display: flex;
  column-gap: 4px;
  flex-wrap: wrap;
}
.requisites__requisite_visible-below_968px {
  display: none;
}
.requisites__requisite-text {
  color: #819098;
}
.requisites__requisite-link {
  text-decoration: none;
  color: #1b313e;
  font-weight: 600;
}
@media screen and (max-width:986px) {
  .requisites {
    flex-direction: column;
    height: auto;
  }
  .requisites__requisite_visible-below_968px {
    display: flex;
  }
}
@media screen and (max-width:650px) {
}