.advantages {
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 40px; */
}
.advantages__description {
  flex-basis: 36%;
  margin-right: 40px;
}
.advantages__description-header {
  margin-bottom: 24px;
  font-size: 30px;
}
.advantages__description-text {
  line-height: 36px;
}
.advantages__sertificates {
  flex-basis: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* row-gap: 4px; */
  margin-bottom: -4px;
}
.advantages__sertificates-header {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 6px;
}
.advantages__sertificat-link {
  margin-bottom: 4px;
}
.advantages__sertificat-img  {
  border: 1px solid #c7c7c7;
}
.advantages__list {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 16px 0 0 0;
  padding-bottom: 10px;
  padding-left: 20px;
}
.advantages__list-item {
  padding: 0 0 0 87px;
  min-height: 60px;
}
.advantages__list-item:nth-child(1) {
  background: url(montaj_before_1.png) no-repeat 2% 50%;
}
.advantages__list-item:nth-child(2) {
  background: url(montaj_before_2.png) no-repeat 2% 50%;
}
.advantages__list-item:nth-child(3) {
  background: url(montaj_before_3.png) no-repeat 2% 50%;
}
.advantages__list-item:nth-child(4) {
  background: url(montaj_before_4.png) no-repeat 2% 50%;
}
.advantages__list-item-header {
  font-size: 20px;
}
.advantages__list-item-text {
  font-size: 14px;
}
@media screen and (max-width:1300px) {
  .advantages__description {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .advantages__description-text {
    line-height: 30px;
  }
}
@media screen and (max-width:575px) {
  .advantages__description-header {
    margin-top: 10px;
  }
  .advantages__sertificates {
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .advantages__sertificates-header {
    flex-basis: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .advantages__list {
    margin-top: 10px;
    padding: 0;
    margin-bottom: -10px;
  }
  .advantages__list-item {
    margin-bottom: 10px;
  }
}