@import '../../sass/variables.scss';

.advantages {
  display: flex;
  flex-wrap: wrap;

  &__description {
    flex-basis: 36%;
    margin-right: 40px;

    @media screen and (max-width: $screen-xl) {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__description-header {
    margin-bottom: 24px;
    font-size: 30px;

    @media screen and (max-width: $screen-sm) {
      margin-top: 10px;
    }
  }

  &__description-text {
    line-height: 36px;

    @media screen and (max-width: $screen-xl) {
      line-height: 30px;
    }
  }

  &__sertificates {
    display: flex;
    flex-basis: 11%;
    flex-direction: column;
    align-items: center;
    margin-bottom: -4px;

    @media screen and (max-width: $screen-sm) {
      flex-basis: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-bottom: 0;
    }
  }

  &__sertificates-header {
    margin-bottom: 6px;
    font-size: 13px;
    line-height: 16px;

    @media screen and (max-width: $screen-sm) {
      flex-basis: 100%;
      margin-bottom: 10px;
      text-align: center;
    }
  }

  &__sertificat-link {
    margin-bottom: 4px;
  }

  &__sertificat-img {
    border: 1px solid #c7c7c7;
  }

  &__list {
    display: flex;
    flex: 1 1 45%;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px 0 0 0;
    padding-bottom: 10px;
    padding-left: 20px;
    list-style: none;

    @media screen and (max-width: $screen-sm) {
      margin-top: 10px;
      margin-bottom: -10px;
      padding: 0;
    }
  }

  &__list-item {
    min-height: 60px;
    padding: 0 0 0 87px;

    @media screen and (max-width: $screen-sm) {
      margin-bottom: 10px;
    }

    &_icon_ruble {
      background: url('icon_ruble.png') no-repeat 2% 50%;
    }

    &_icon_clock {
      background: url('icon_clock.png') no-repeat 2% 50%;
    }

    &_icon_check-mark {
      background: url('icon_check-mark.png') no-repeat 2% 50%;
    }

    &_icon_thumbs-up {
      background: url('icon_thumbs-up.png') no-repeat 2% 50%;
    }
  }

  &__list-item-header {
    font-size: 20px;
  }

  &__list-item-text {
    font-size: 14px;
  }
}