@import '../../sass/variables';

.mobile-whatsapp-button {
  position: absolute;
  z-index: 3000;
  top: 54px;
  right: 200px;
  display: none;
  width: 56px;
  height: 56px;
  border-radius: 11px;
  background-image: url('mobile-whatsapp-button.png');
  background-repeat: no-repeat;

  @media screen and (max-width: $screen-lg) {
    display: block;
  }

  @media screen and (max-width:768px) {
    top: 0;
    right: 124px;
    border-radius: 0;
  }
}