.example-of-works-tmp__header {
  margin-bottom: 20px;
}
.example-of-works-tmp__slider {
  position: relative;
  margin: 10px 0;
}
.example-of-works-tmp__nav-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #006eae;
  background-image: url('example-of-works-tmp_arrow.png');
  background-repeat: no-repeat;
  background-position: 48% center;
  display: block;
  position: absolute;
  left: 10px;
  top: 40%;
  border-width: 0;
  cursor: pointer;
  transition: transform 0.5s;
}
.example-of-works-tmp__nav-button:hover {
  transform: scale(1.1);
}
.example-of-works-tmp__nav-button_next {
  transform: rotate(180deg);
  right: 10px;
  left: auto;
}
.example-of-works-tmp__nav-button_next:hover {
  transform: scale(1.1) rotate(180deg);
}