.mobile-main-menu-button {
  cursor: pointer;
  z-index: 1000;
  display: none;
  width: 48px;
  height: 48px;
  background-color: #ffcb00;
}
.mobile-main-menu-button_close {
  background: #ffcb00 url('mobile-main-menu-button__cross.png') no-repeat 50% 50%;
}
.mobile-main-menu-button__line {
  width: 24px;
  height: 2px;
  background-color: #000000;
  margin: 3px 0;
}
@media screen and (max-width:1300px) {
  .mobile-main-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobile-main-menu-button_close .mobile-main-menu-button__line {
    display: none;
  }
}