.cart {
  display: flex;
  column-gap: 3px;
  flex-direction: column;
  padding: 13px 24px 15px 22px;
  border-radius: 5px;
  background: #e0eff9;
}
.cart__link {
  text-decoration: none;
}
.cart__header {
  font-size: 15px;
}
.cart__text {
  font-size: 13px;
}
@media screen and (max-width:1300px) {
  .cart {
    padding: 5px 10px 5px 10px;
  }
}
@media screen and (max-width:986px) {
  .cart {
    margin-bottom: 12px;
    padding: 8px 24px 8px 22px;
  }
}
@media screen and (max-width:768px) {
  .cart {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 84px;
    width: 64px;
    height: 78px;
    padding: 0;
    cursor: pointer;
    border-radius: 0 0 6px 6px;
    background-image: url('cart__icon.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
}
@media screen and (max-width:650px) {
  .cart {
    height: 64px;
  }
}
@media screen and (max-width:460px) {
  .cart {
    width: 60px;
    height: 60px;
  }
}