.main-menu {
  display: inline-flex;
  /* gap: 45px; */
  width: 100%;
}
.main-menu__item {
  margin-right: 43px;
}
.main-menu__link {
  font-size: 18px;
  font-weight: 600;
  color: #346c78;
  text-decoration: none;
  line-height: 19px;
}
@media screen and (max-width:1300px) {
  .main-menu {
    flex-direction: column;
    align-items: self-start;
    /* row-gap: 30px; */
    margin-bottom: -30px;
  }
  .main-menu__item {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .main-menu__link {
    color: #000000;
  }
}