.service-phone {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80px;
  padding: 0 0 0 20px;
  box-sizing: border-box;
}
.service-phone__number {
  font-size: 14px;
}
.service-phone__link {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}
.service-phone__e-mail {
  padding: 0 0 0 22px;
  background: url('mail.png') no-repeat 0 46%;
  color: #000000;
  font-weight: 600;
  font-size: 14px;
}
@media screen and (max-width:575px) {
  .service-phone {
    height: 70px;
    margin-left: 20px;
  }
}
@media screen and (max-width:460px) {
  .service-phone {
    margin-left: 0;
    padding-left: 10px;
    min-width: 250px;
  }
}