.service-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  border-radius: 0;
  background: none;
  box-shadow: none;
}
.service-menu__item {
  position: relative;
  padding-left: 38px;
}
.service-menu__item:hover {
  background-image: none;
}
.service-menu__item:nth-child(1):hover {
  border-radius: 0;
}
.service-menu__item:nth-child(6):hover {
  border-radius: 0;
}
.service-menu__link {
  color: #006eae;
  line-height: 24px;
}
.service-menu__link::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.service-menu__item:nth-child(1) .service-menu__link::before {
  background-image: url('service-menu__shop.png');
}
.service-menu__item:nth-child(2) .service-menu__link::before {
  background-image: url('service-menu__design.png');
}
.service-menu__item:nth-child(3) .service-menu__link::before {
  background-image: url('service-menu__montage.png');
}
.service-menu__item:nth-child(4) .service-menu__link::before {
  background-image: url('service-menu__maintaining.png');
}
.service-menu__item:nth-child(5) .service-menu__link::before {
  background-image: url('service-menu__repair.png');
}
.service-menu__item:nth-child(6) .service-menu__link::before {
  background-image: url('service-menu__commissioning.png');
}
.service-menu__link:hover {
  text-decoration: none;
}
@media screen and (max-width:1300px) {
  .service-menu {
    column-gap: 20px;
  }
  .service-menu__item {
    background-color: #ffffff;
  }
}
@media screen and (max-width:986px) {
  .service-menu__item:last-child {
    margin-right: auto;
  }
}
@media screen and (max-width:860px) {
  .service-menu__item {
    padding-left: 4.2%;
  }
  .service-menu__link::before {
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width:768px) {
  .service-menu__item:nth-child(2) {
    flex-basis: 21%;
  }
  .service-menu__item:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width:650px) {
  .service-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    align-items: start;
  }
  .service-menu__item {
    text-align: left;
    padding-left: 40px;
  }
  .service-menu__link::before {
    width: 28px;
    height: 28px;
  }
}
@media screen and (max-width:575px) {
  .service-menu__item {
    padding-left: 25px;
  }
  .service-menu__link::before {
    display: inline-block!important;
    width: 22px;
    height: 22px;
  }
}
@media screen and (max-width:460px) {
  .service-menu {
    padding-left: 20px;
    grid-template-columns: 1fr;
  }
  .service-menu__item {
    padding-left: 40px;
  }
  .service-menu__link::before {
    width: 28px;
    height: 28px;
  }
}